@use "@/styles/abstracts/mixins" as *;

.history {
  width: 100%;
  height: 100%;

  max-width: 900px;

  margin: 0 auto;

  padding: 2rem 1.5rem 4rem;
}

.historyGroupsContainer {
  height: 80%;
  overflow-y: auto;
  padding: 0px 4px;

  @include custom-scrollbar;

}