.chatBubble {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  width: 100%;
}

.user {
  flex-direction: row-reverse;
}

.assistant {
  flex-direction: row;
}

.body {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  flex: 1;
}