.container {
  position: fixed;

  top: 24px;
  right: 24px;

  z-index: 9999;

  display: flex;
  flex-direction: column;

  gap: 10px;

  pointer-events: none;
}

.container > * {
  pointer-events: auto;
}

@media (max-width: 640px) {
  .container {
    top: 16px;
    right: 16px;
    left: 16px;

    align-items: center;
  }
}