.avatar {
  width: 42px;
  height: 42px;

  flex-shrink: 0;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--surface);

  color: var(--text-primary);

  font-weight: 600;
}