.hljs {
  background: transparent;
}

.hljs-keyword {
  color: #9479ff;
}

.hljs-string {
  color: #53d3ff;
}

.hljs-comment {
  color: #6b7280;
  font-style: italic;
}

.hljs-number {
  color: #f59e0b;
}

.hljs-title,
.hljs-function {
  color: #22d3ee;
}

.hljs-variable {
  color: #400447;
}

.hljs-type {
  color: #38bdf8;
}