.chatHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 24px 32px;

  gap: 12px;
}

.iconButton {
  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;

  background: transparent;

  color: var(--text-secondary);

  cursor: pointer;

  transition: .2s;

  &:hover {
    background: rgba(255,255,255,.08);
    color: var(--text-primary);
  }
}